@import url("https://steinbaugh.com/css/default.css");

html#front body>header {
    border: none;
    margin: 0;
    padding: 0;
}

html#front pre {
    color: var(--header-color);
    overflow: hidden;
}

@media screen and (prefers-color-scheme: dark) {
    html#front img {
        border-radius: 0.25rem;
        background: var(--border-color);
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        padding: 0.5rem;
    }
}
